* {
	font-family: 'Lexend', sans-serif;
}

input[type=number] {
	max-width: 2.5em;
}

.smart-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.smart-list > * {
	margin: 0 15px 15px 0;
}

.smart-list-computed {
	display: grid;
	grid-template-columns: repeat(auto-fit, 1px);
	justify-items: start;
	align-items: start;
	grid-row-gap: 15px;
	grid-auto-flow: dense;
}

.smart-list, .smart-list-computed {
	max-width: 999px;
}

.smart-list > *, .smart-list-computed > * {
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}

#locationList {
	margin-bottom: 1em;
}

textarea {
	field-sizing: content;
	min-width: 100%;
	box-sizing: border-box;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}
